body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.card-deck .card {
  max-width: 250px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.card-deck {
  justify-content: center;
}

.card-title {
  border-bottom: 2px solid #be0e33;
  padding-bottom: 1rem;
}

a {
  text-decoration: none !important;
  color: rgba(22, 22, 22, 0.918) !important;
}

.navbar-brand {
  color: white !important;
}

input[type='checkbox'] {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  width: 1px;
}

.nav-link {
  color: white !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #00325b !important;
  color: white !important;
}

.nav-item .nav-link .nav-link.active {
  background-color: #00325b !important;
}

.nav-link-black {
  color: black !important;
}

.nav-tabs .nav-link {
  color: black !important;
}

.nav-link-black {
  height: inherit;
}

.tab-content {
  height: inherit;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media (max-width: 576px) {
  .col-sm-9 {
    width: 75%;
  }
}

@media (max-width: 576px) {
  .col-sm-3 {
    width: 25%;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .col-sm-3 {
    flex: auto;
    width: auto;
  }
}

@media (min-width: 1025px) and (orientation: landscape) {
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (max-width: 1024px) and (orientation: landscape) {
  .container,
  .container-sm {
    max-width: inherit;
  }
}

.DraftEditor-root {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #fff;
  border-radius: 0.25rem;
  height: 90%;
}

.nav-link.active {
  color: white !important;
  background-color: #002646 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
